In [2]:
import random

a= random.randint(1,1000)
b= random.randint(1,1000)
print(a,b)

if a>= b:
    print("Max =",a)
else:
    print("Max =",b)

887 548
Max = 887

In [5]:
import random

a= random.randint(1,100)
b= random.randint(1,100)
c= random.randint(1,100)
print(a,b,c)

if a>= b:
    if a>=c:
        print("Max =",a)
    else:
        print("Max =",c)
else:
    if b>=c:
        print("Max =",c)
    else:
        print("Max =",c)

95 64 70
Max = 95

In [6]:
mylist = [3,3.14,2.71828,"pi","e"]
print(type(mylist))
print(mylist)
print(mylist[0])
print(mylist[3])
print(mylist[-1])
print(mylist[2])

<class 'list'>
[3, 3.14, 2.71828, 'pi', 'e']
3
pi
e
2.71828

list:可改變的
tuple:不可改變的

In [7]:
my = [1,2,3]
your = my*3
print(your)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
my = [1,2,3]
your = my*2

for i in your:
    print(i * 10)

10
20
30
10
20
30

In [10]:
my = [1,2,3]
your = my*2

for i in your:
    print(i * 10, end=", ")
    
print()

for i in range(len(your)):
    print(your[i] * 10,end=", ")

10, 20, 30, 10, 20, 30,
10, 20, 30, 10, 20, 30,

list1 = [1,2,3,4,5]
list2 =[6,7,8]
print(list1 + list2)
print(list + 8)   ( X )

In [14]:
n =[1,2,3,4,5,6,7,8]

print(n[1:5])
print(n[:5])
print(n[1:])
print(n[-3:-1])
print(n[1:9:2])
print(n[::2])
print(n[::3])
print(n[1::3])

n[1:3] = 20,30
print(n)

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8]
[6, 7]
[2, 4, 6, 8]
[1, 3, 5, 7]
[1, 4, 7]
[2, 5, 8]
[1, 20, 30, 4, 5, 6, 7, 8]

In [ ]:
n1 = [12,2,4,6,8,10]